/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
body{
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1536px;
    margin: auto;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;

}
.nav-items{
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 55px;
    cursor: pointer;
}
.list-item{
color: grey;
}
.list-item:first-child{
    color: black;
}
.nav-button{
    padding: 15px;
    border-radius: 10px;
    width: 130px;
    background-color: #532bb7;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* banner section */
.banner-container{
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.heading-text{
    font-size: 60px;
    margin-bottom: 20px;
}
.illustration-img{
    margin-top: 50px;
}
.btn{
    width: 200px;
    padding: 20px;
    margin-top: 40px;
    cursor: pointer;
}
span{
    color: #532bb7;
}
.description{
    color: grey;
}