*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
.nav-items ul{
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}
li{
    list-style-type: none;
    color:rgb(232, 10, 10);
    font-weight: bold;
    font-size: large;
}
a{
    text-decoration: none;
}
.home {
    height: 70vh ;
}
.home img{
    height: 100%;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}