@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}
.form-div{
  
}

.taskCart{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
}
.remove{
  background-color: red;
}
