*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1536px;
    margin: auto;
    font-family: 'Average Sans';
    font-size: 20px;
}
.blue{
    color: #0c8bfd;
}


/* Header Navbar */
header{
    background-color: rgb(12, 12, 12);
    color: white;
}
.navbar{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-center ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.navbar .nav-center ul li{
    list-style-type: none;
}
.navbar .nav-right{
    background-color: #0c8bfd;
    padding: 10px 35px;
    border-radius: 30px;
}


/******First page main section******/
main{
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}
main div{
    width: 50%;
}
main div h1{
    font-size: 70px;
    letter-spacing: 4px;
}
main div p{
    padding-top: 30px;
    letter-spacing: 1px;
    color: rgb(210, 210, 210);
}
main .hosting-info{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
main .get-started-btn{
    background-color: #0c8bfd;
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
}
main .start-free-btn{
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
}