*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1536px;
    margin: auto;
    font-family: 'Average Sans';
    overflow-x: hidden;
    font-size: 20px;
}


/* First page */
.first-section{
    background-color: rgb(12, 12, 12);
    color: white;
}
.navbar-container{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-center .list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: None;
    gap: 60px;
}
.navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navbar-right div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar-right div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    position: relative;
    right: 20px;
}


/* First page */
main{
    margin-top: 35px;
    margin-left: 100px;
    height: 95vh;
}
.one-card{
    /* width: 75%; */
    font-size: 85px;
}
.one-card span{
    color: #f637ec;
}
main section{
    width: 50%;
}
main .main-section{
    display: flex;
}
.left-section > p{
    margin-top: 20px;
    color: grey;
    font-size: 26px;
}
.left-section .get-started{
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.left-section .get-started p {
    position: relative;
    right: 25px;
    font-size: 25px;
}
.left-section .users{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap:50px;
}
.left-section .users{
    width: 100%;
}
.left-section .users .plus{
    color: #f637ec;
}
.left-section .users .active-user, .left-section .users .experience{
    display: flex;
    align-items: center;
}
.left-section .users .active-user p:first-child, .left-section .users .experience p:first-child{
    font-size: 50px;
}
.left-section .users .active-user p:last-child, .left-section .users .experience p:last-child{
    font-size: 25px;
    margin-left: 15px;
}

.right-section img{
    width: 50%;
    position:absolute;
    right: 0;
}
.right-section img:first-child{
    top: 100px;
}
.right-section img:last-child{
   top: 130px;
   right: -180px;
}


/* Logo section */
.logo-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60 40px;
    background-color: rgb(52, 47, 47);
}


/* Second page */
.second-section{
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 100px;
}
.second-section .first-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section .first-div .child1{
    width: 60%;
    font-size: 80px;
}
.second-section .first-div .child2{
    width: 40%;
    font-size: 25px;
    color: gray;
}
.second-section .second-div{
    margin-top: 60px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section .second-div div{
    border: 1px solid white;
    width: 350px;
    height: 300px;
    text-align: center;
    
}
.second-section .second-div .child1{
    padding-top: 20px;
    font-size: 30px;
}
.second-section .second-div .child2{
    padding-top: 20px;
    font-size: 30px;
    align-self: flex-end;
    background: grey;
}
.second-section .second-div .child3{
    padding-top: 20px;
    font-size: 30px;
}