*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #96cd5d;
}

#root{
  max-width: 1200px;
  padding: 50px 0;
  margin: auto;
}
.input-div{
  text-align: center;
}
.meal-input{
  width: 60%;
  padding: 5px;
  height: 35px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  color: orange;
}
.search-btn{
    width: 200px;
    margin-left: 30px;
    height: 35px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
}
.search-btn:hover{
  background-color: orange;
  color: white;
}

.meal-card{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px;
}
.card{
  flex-basis: 25%;
  border: 1px solid white;
  border-radius: 6px;
}
.mealtheme{
  border-radius: 6px;
  width: 100%;
  height: 250px;
}
.meal-info{
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}